@using FeesPackage.Models;
@using Newtonsoft.Json;
@model ClientInfoModel

@{
    ViewBag.Title = "tblPayments";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        ready();
    });
</script>

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    <i>@ViewBag.Title</i> Table
                </h3>
            </div>
            <div class="module-body table">
                <span>Search: </span>
                <input type="text" id="search" placeholder="Type here ..." style="height: 21px; width: 200px;" />
                <button id="addrowbutton" style="float: right">+</button>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%; height: 100%;">
                    <div id="jqxgrid"></div>
                </div>
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="ClientDlg" style="display:none">
</div>

<style>
    .jqx-grid-cell {
        text-align: center;
        vertical-align: middle;
    }
</style>

<script>
    var groups = [];
    var id;

    function ready() {
        // prepare the Attorney list dropdown data
        var locallista = @Html.Raw(JsonConvert.SerializeObject(Model.Claims));

        var locallistaSource = {
            datatype: "array",
            datafields: [
                    { name: 'Name', type: 'string' },
                    { name: 'Id', type: 'string' }
            ],
            localdata: locallista
        };
        var locallistaAdapter = new $.jqx.dataAdapter(locallistaSource);

        // prepare the data
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.Payments));
        var inUpdate = false;

        var source =
        {
            dataType: "json",
            updaterow: function (rowid, rowdata, commit) {
                if (!inUpdate) {
                    $.post('/DailyPayments', rowdata, function (data, status, jqXHR) {
                        if ($("#jqxgrid").jqxGrid('getcellvaluebyid', rowid, 'id') != parseInt(jqXHR.statusText)) {
                            inUpdate = true;
                            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowid, 'id', parseInt(jqXHR.statusText));
                            inUpdate = false;
                        }
                        commit(true);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    });
                }
            },
            dataFields: [
                { name: 'Claim_Number', type: 'string', align: 'center' },
                { name: 'Payment_Date', type: 'date' },
                { name: 'Period_From', type: 'date' },
                { name: 'Period_To', type: 'date' },
                { name: 'Amount', type: 'float' },
                { name: 'Input_Date', type: 'date' },
                { name: 'Deposit_Indicator', type: 'int' },
                { name: 'Posted_Indicator', type: 'bool' }
            ],
            id: 'payments',
            localdata: data
        };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) { },
            loadComplete: function (data) { },
            beforeLoadComplete: function (records) { },
            loadError: function (xhr, status, error) { alert('loadError: status=' + status + ' error=' + error); },
        });

        var cellsrenderer_center = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }

        var columnrenderer_center = function (value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }

        // create new row.
        $("#addrowbutton").on('click', function () {
            $.get('/ClientInfo/Create', function (data, status, jqXHR) {
                $('#ClientDlg').html(data);
                $('.ui-dialog-title').html('@ViewBag.Title [0]');
                $("#ClientDlg").dialog("open");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        });

        $("#jqxgrid").jqxGrid(
        {
            theme: 'energyblue',
            width: '100%',
            height: '50%',
            autowidth: false,
            source: dataAdapter,
            showfilterrow: true,
            filterable: true,
            pageable: true,
            pagesize: 20,
            groupable: false,
            editable: true,
            sortable: true,
            ready: function () { setup(); },
            columnsresize: true,
            columns: [
                { text: 'Claim Number', datafield: 'Claim_Number', filtertype: 'checkedlist' },
                { text: 'Payment Date', datafield: 'Payment_Date', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center' },
                { text: 'Period From', datafield: 'Period_From', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center' },
                { text: 'Period To', datafield: 'Period_To', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center' },
                { text: 'Amount', datafield: 'Amount', filtertype: 'checkedlist', cellsalign: 'right', cellsformat: 'c', align: 'center' },
                { text: 'Input Date', datafield: 'Input_Date', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center' },
                { text: 'Deposit', datafield: 'Deposit_Indicator', filtertype: 'checkedlist', cellsalign: 'center', align: 'center' },
                { text: 'Posted', datafield: 'Posted_Indicator', filtertype: 'checkedlist', align: 'center',
                        cellsRenderer: function (row, column, value, rowData) {
          	                var checkbox;
                            if (value === true)
            	                checkbox = '<input type="checkbox" checked>'
                            else
            	                checkbox = '<input type="checkbox">'
                            return checkbox;
                        }
                }
            ]
        });

        $("#jqxgrid").on("celldoubleclick", function (event) {
            var args = event.args;
            var rowBoundIndex = args.rowindex;
            //var rowVisibleIndex = args.visibleindex;
            //var rightClick = args.rightclick;
            //var ev = args.originalEvent;
            //var columnIndex = args.columnindex;
            //var dataField = args.datafield;
            //var value = args.value;

            // get 'id' value of row dblclk'd on
            id = $("#jqxgrid").jqxGrid('getcell', rowBoundIndex, 'id').value;

            // render view/show dialog
            $.post('/ClientInfo/Edit', { id: id }, function (data, status, jqXHR) {
                $('#ClientDlg').html(data);
                $('.ui-dialog-title').html('@ViewBag.Title [' + id + ']');
                $("#ClientDlg").dialog("open");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        });

        var options = {
            callback: function (value) {
                var datafield = "Claim_Number";
                var searchText = value;
                var filter_or_operator = 1;
                var filtervalue = searchText;
                var filtercondition = 'CONTAINS';

                var filtergroup = new $.jqx.filter();
                var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
                filtergroup.addfilter(filter_or_operator, filter);

                $("#jqxgrid").jqxGrid('clearfilters');
                $("#jqxgrid").jqxGrid('addfilter', datafield, filtergroup);
                $("#jqxgrid").jqxGrid('applyfilters');
            },
            wait: 750,
            highlight: true,
            allowSubmit: false,
            captureLength: 2
        }

        $("#search").typeWatch(options);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setup() {
        $("#jqxgrid").jqxGrid('autoresizecolumns');

        $(window).bind('resize', function () {
            $("#jqxgrid").jqxGrid(
            {
                // set height of grid to available space
                height: $(window).height() - ($('.navbar').height()
                                            + $('.module').height()
                                            + $('.footer').height()
                                            + 100 // fudge factor for padding/margins
                                             )
            });
        }).trigger('resize');
    }
</script>
