@using FeesPackage.Models;
@using Newtonsoft.Json;
@model ClientInfoModel

@{
    ViewBag.Title = "tblPayments";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        ready();
    });
</script>

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    <i>@ViewBag.Title</i> Table
                </h3>
            </div>
            <div class="module-body table">
                <span>Search: </span>
                <input type="text" id="search" placeholder="Type here ..." style="height: 21px; width: 200px;" />
                <button id="addrowbutton" style="float: right">+</button>
                <button id="PostPayments" style="float: right">Post Payments</button>
                <button id="UnmatchedDepositsPrint" style="float: right">Unmatched Deposits</button>
                <button id="DailyDepositsPrint" style="float: right">Daily Deposits</button>
                <button id="DailyDetailPrint" style="float: right">Daily Detail</button>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%; height: 100%;">
                    <div id="jqxgrid"></div>
                </div>
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="ToFromDlg" style="display:none">
    <p>Begin date: <input type="text" id="fromDate" /></p>
    <p>End date: <input type="text" id="toDate" /></p>
</div>

<div id="StatsDlg" style="display:none">
    <p style="padding-left:20px;font-weight:bold"># of Payments: <span id="numPayments"></span></p>
    <p style="font-weight:bold">Total of Payments: <span id="totalPayments"></span></p>
</div>

<style>
    .jqx-grid-cell {
        text-align: center;
        vertical-align: middle;
    }
</style>

<script>
    var groups = [];
    var id;

    function ready() {
        $('#UnmatchedDepositsPrint').click(function () {
            $('#ToFromDlg').dialog({
                buttons: [{
                    text: "Run",
                    "id": "run",
                    click: function () {
                        window.open('/DailyPayments/UnmatchedDepositsPrint?fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val());
                        $('#ToFromDlg').dialog('close')
                    }
                }],
                open: function() {
                    $('#fromDate').datepicker({title:'From Date'}).blur();
                    $('#toDate').datepicker({title:'To Date'}).blur();
                    if ($('#toDate').val() == '')
                        $('#toDate').val('@DateTime.Today.ToString("MM/dd/yyyy")');
                },
                close: function() {
                    $('#fromDate').datepicker('destroy');
                    $('#toDate').datepicker('destroy');
                },
            });
        });

        $('#DailyDepositsPrint').click(function () {
            $('#ToFromDlg').dialog({
                buttons: [{
                    text: "Run",
                    "id": "run",
                    click: function () {
                        window.open('/DailyPayments/DailyDepositsPrint?fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val());
                        $('#ToFromDlg').dialog('close')
                    }
                }],
                open: function() {
                    $('#fromDate').datepicker({title:'From Date'}).blur();
                    $('#toDate').datepicker({title:'To Date'}).blur();
                    if ($('#toDate').val() == '')
                        $('#toDate').val('@DateTime.Today.ToString("MM/dd/yyyy")');
                },
                close: function() {
                    $('#fromDate').datepicker('destroy');
                    $('#toDate').datepicker('destroy');
                },
            });
        });

        $('#DailyDetailPrint').click(function () {
            $('#ToFromDlg').dialog({
                buttons: [{
                    text: "Run",
                    "id": "run",
                    click: function () {
                        window.open('/DailyPayments/DailyDetailPrint?fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val());
                        $('#ToFromDlg').dialog('close')
                    }
                }],
                open: function() {
                    $('#fromDate').datepicker({title:'From Date'}).blur();
                    $('#toDate').datepicker({title:'To Date'}).blur();
                    if ($('#toDate').val() == '')
                        $('#toDate').val('@DateTime.Today.ToString("MM/dd/yyyy")');
                },
                close: function() {
                    $('#fromDate').datepicker('destroy');
                    $('#toDate').datepicker('destroy');
                },
            });
        });

        $('#PostPayments').click(function () {
            $('#ToFromDlg').dialog({
                buttons: [{
                    text: "Run",
                    "id": "run",
                    click: function () {
                        $.post('/DailyPayments/PostPayments', { fromDate: $('#fromDate').val(), toDate: $('#toDate').val() }, function (data, status, jqXHR) {
                            $('#StatsDlg').dialog({
                                buttons: [{
                                    text: "Close",
                                    "id": "close",
                                    click: function () {
                                        $('#StatsDlg').dialog('close')
                                    }
                                }],
                                open: function () {
                                    $('#numPayments').text(data.row_count);
                                    $('#totalPayments').text(data.amount);
                                },
                                close: function() {
                                },
                            });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus + ': ' + errorThrown);
                        });
                        $('#ToFromDlg').dialog('close')
                    }
                }],
                open: function() {
                    $('#fromDate').datepicker({title:'From Date'}).blur();
                    $('#toDate').datepicker({ title: 'To Date' }).blur();
                    if ($('#toDate').val() == '')
                        $('#toDate').val('@DateTime.Today.ToString("MM/dd/yyyy")');
                },
                close: function() {
                    $('#fromDate').datepicker('destroy');
                    $('#toDate').datepicker('destroy');
                },
            });
        });

        // prepare the Attorney list dropdown data
        var locallista = @Html.Raw(JsonConvert.SerializeObject(Model.AttyCombos));

        var locallistaSource = {
            datatype: "array",
            datafields: [
                    { name: 'Name', type: 'string' },
                    { name: 'Id', type: 'string' }
            ],
            localdata: locallista
        };
        var locallistaAdapter = new $.jqx.dataAdapter(locallistaSource);

        // prepare the data
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.Payments));
        var inUpdate = false;

        var source =
        {
            dataType: "json",
            updaterow: function (rowid, rowdata, commit) {
                if (!inUpdate) {
                    $.post('/DailyPayments', rowdata, function (data, status, jqXHR) {
                        if ($("#jqxgrid").jqxGrid('getcellvaluebyid', rowid, 'id') != parseInt(jqXHR.statusText)) {
                            inUpdate = true;
                            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowid, 'id', parseInt(jqXHR.statusText));
                            inUpdate = false;
                        }
                        commit(true);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    });
                }
            },
            dataFields: [
                { name: 'id', type: 'int' },
                { name: 'Claim_Number', type: 'string', align: 'center' },
                { name: 'Payment_Date', type: 'date' },
                { name: 'Period_From', type: 'date' },
                { name: 'Period_To', type: 'date' },
                { name: 'Amount', type: 'float' },
                { name: 'Input_Date', type: 'date' },
                { name: 'Deposit_Indicator', type: 'int' },
                { name: 'Posted_Indicator', type: 'bool' },
                { name: 'Comment', type: 'string' }
            ],
            id: 'payments',
            localdata: data
        };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) { },
            loadComplete: function (data) { },
            beforeLoadComplete: function (records) { },
            loadError: function (xhr, status, error) { alert('loadError: status=' + status + ' error=' + error); },
        });

        var cellsrenderer_center = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }

        var columnrenderer_center = function (value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }

        var addRow = false;
        // create new row.
        $("#addrowbutton").on('click', function () {
            addRow = true;
            // add empty row in first position
            $("#jqxgrid").jqxGrid('addrow', null, {}, 'first');
            // begin editting newly added row, first column
            $("#jqxgrid").jqxGrid('begincelledit', 0, 'Claim_Number');
        });

        $("#jqxgrid").jqxGrid(
        {
            theme: 'energyblue',
            width: '100%',
            height: '50%',
            autowidth: false,
            source: dataAdapter,
            showfilterrow: true,
            filterable: true,
            pageable: true,
            pagesize: 20,
            groupable: false,
            editable: true,
            sortable: true,
            ready: function () { setup(); },
            columnsresize: true,
            columns: [
                { text: 'id', datafield: 'id', hidden: true },
                { text: 'Claim Number', datafield: 'Claim_Number', filtertype: 'checkedlist' },
                { text: 'Payment Date', datafield: 'Payment_Date', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center', columntype: 'datetimeinput' },
                { text: 'Period From', datafield: 'Period_From', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center', columntype: 'datetimeinput' },
                { text: 'Period To', datafield: 'Period_To', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center', columntype: 'datetimeinput' },
                { text: 'Amount', datafield: 'Amount', filtertype: 'checkedlist', cellsalign: 'right', cellsformat: 'c2', align: 'center' },
                { text: 'Input Date', datafield: 'Input_Date', filtertype: 'checkedlist', cellsalign: 'center', cellsformat: 'MM/dd/yy', align: 'center', columntype: 'datetimeinput' },
                {
                    text: 'Deposit', datafield: 'Deposit_Indicator', filtertype: 'checkedlist', cellsalign: 'center', align: 'center',
                    columntype: 'dropdownlist',
                    createeditor: function (row, column, editor) {
                        editor.jqxDropDownList({
                            dropDownHeight: 200,
                            source: locallistaAdapter,
                            displayMember: 'Id',
                            valueMember: 'Name',
                            filterable: false,
                            placeHolder: 'Choose ...',
                            renderer: function (index, label, value) {
                                var item = editor.jqxDropDownList('getSelectedItem');
                                return label + ' - ' + value;
                            }
                        });
                        editor.on('close', function (event) {
                            var sel = $('#jqxgrid').jqxGrid('getselectedrowindex');
                            // this will lose focus on current dropdownlist, firing onChange event on this row
                            //setTimeout(function () { $("#jqxgrid").jqxGrid('begincelledit', sel, 'id'); }, 10);
                        });
                    }
                },
                { text: 'Posted', datafield: 'Posted_Indicator', filtertype: 'checkedlist', align: 'center', columntype: 'checkbox', editable: false, hidden: true },
                { text: 'Comment', datafield: 'Comment', filtertype: 'checkedlist', align: 'center' }
            ]
            });

        $("#jqxgrid").on('cellendedit', function (event)
        {
            // column data field.
            if (event.args.datafield == 'Comment' && addRow)
                setTimeout(function () { $("#addrowbutton").click(); }, 1);
        });

        var options = {
            callback: function (value) {
                var datafield = "Claim_Number";
                var searchText = value;
                var filter_or_operator = 1;
                var filtervalue = searchText;
                var filtercondition = 'CONTAINS';

                var filtergroup = new $.jqx.filter();
                var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
                filtergroup.addfilter(filter_or_operator, filter);

                $("#jqxgrid").jqxGrid('clearfilters');
                $("#jqxgrid").jqxGrid('addfilter', datafield, filtergroup);
                $("#jqxgrid").jqxGrid('applyfilters');
            },
            wait: 750,
            highlight: true,
            allowSubmit: false,
            captureLength: 2
        }

        $("#search").typeWatch(options);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setup() {
        $("#jqxgrid").jqxGrid('autoresizecolumns');

        $(window).bind('resize', function () {
            $("#jqxgrid").jqxGrid(
            {
                // set height of grid to available space
                height: $(window).height() - ($('.navbar').height()
                                            + $('.module').height()
                                            + $('.footer').height()
                                            + 100 // fudge factor for padding/margins
                                             )
            });
        }).trigger('resize');
    }
</script>
