@using FeesPackage.Data_Access;
@model List<tblClient>

@{
    ViewBag.Title = "tblInsurance";
}

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    <i>@ViewBag.Title</i> Table
                </h3>
            </div>
            <div class="module-body table">
                <table id="model" cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped display" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Reference_Number)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Client_Name)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Employer_Name)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Escrow__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Handling_Atty)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Handling__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Credit_Atty)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Credit__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Is_County)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].County)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Accident_Desc)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Selection_Control)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (tblClient model in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => model.Reference_Number)</td>
                            <td>@Html.DisplayFor(modelItem => model.Client_Name)</td>
                            <td>@Html.DisplayFor(modelItem => model.Employer_Name)</td>
                            <td>@Html.DisplayFor(modelItem => model.Escrow__)</td>
                            <td>@Html.DisplayFor(modelItem => model.Handling_Atty)</td>
                            <td>@Html.DisplayFor(modelItem => model.Handling__)</td>
                            <td>@Html.DisplayFor(modelItem => model.Credit_Atty)</td>
                            <td>@Html.DisplayFor(modelItem => model.Credit__)</td>
                            <td>@Html.DisplayFor(modelItem => model.Is_County)</td>
                            <td>@Html.DisplayFor(modelItem => model.County)</td>
                            <td>@Html.DisplayFor(modelItem => model.Accident_Desc)</td>
                            <td>@Html.DisplayFor(modelItem => model.Selection_Control)</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Reference_Number)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Client_Name)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Employer_Name)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Escrow__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Handling_Atty)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Handling__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Credit_Atty)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Credit__)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Is_County)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].County)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Accident_Desc)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model[0].Selection_Control)</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
