@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
            float: left;
        }

        .date {
            float: right;
            font-style: italic;
        }

        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }

        .value {
            min-width: 200px;
        }

        table.center {
            margin: auto;
            text-align: center;
        }

        td {
            min-width: 120px;
        }

        td.right,
        th.right {
            text-align: right;
        }

        td.left,
        th.left {
            text-align: left;
        }
    </style>

    <div style="max-width: 1000px;">
        ══════════════════════════════════════════════════════════════════════════════════════════
        <div class="title">Client Printout</div>
        <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
        ══════════════════════════════════════════════════════════════════════════════════════════
        <p>
            <div style="float:left">
                <span class="label">Client Name: </span>
                <span>@Model.Client.Client_Name</span>
            </div>
            <div style="float:right">
                <span class="label">Reference Number:</span>
                <span>@Model.Client.id</span>
            </div>
        </p>
        <br />
        <br />
        <table>
            <tr>
                <td class="label">Handling Attorney:</td>
                <td class="value">@Model.Client.Handling_Atty</td>
                <td class="label">Handling Attorney %:</td>
                <td class="value">@(Model.Client.Handling * 100)%</td>
            </tr>
            <tr>
                <td class="label">Credit Attorney:</td>
                <td class="value">@Model.Client.Credit_Atty</td>
                <td class="label">Credit Attorney %:</td>
                <td class="value">@(Model.Client.Credit * 100)%</td>
            </tr>
            <tr>
                <td class="label">County:</td>
                <td class="value">@Model.Client.County</td>
                <td class="label">Escrow %:</td>
                <td class="value">@(Model.Client.Escrow * 100)%</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label">Employer Name:</td>
                <td class="value">@Model.Client.Employer_Name</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label">Accident Description or Comments:</td>
                <td class="value">@Model.Client.Accident_Desc</td>
            </tr>
        </table>
        <br />
        <table class="center" style="width:60%">
            <tr>
                <th class="left">Referral Attorney</th>
                <th class="right">Referral %</th>
            </tr>
            @foreach (var referral in Model.ClientReferrals) {
                <tr>
                    <td class="left">@referral.Client_Referral_Atty</td>
                    <td class="right">@(referral.Client_Referral * 100)%</td>
                </tr>
            }
        </table>
        <br />
        <br />
        <table class="center">
            <tr>
                <th>Claim Number</th>
                <th>Deposit Date</th>
                <th class="right">Payment</th>
                <th class="left">Period</th>
                <th>Amount</th>
                <th>Insurance Contact</th>
            </tr>
            @foreach (var payment in Model.Payments)
            {
                <tr>
                    <td>@payment.Claim_Number</td>
                    <td>@string.Format("{0:MM/dd/yyyy}", payment.Input_Date)</td>
                    <td class="right">@string.Format("{0:MM/dd/yyyy}", payment.Period_From) => </td>
                    <td class="left">@string.Format("{0:MM/dd/yyyy}", payment.Period_To)</td>
                    <td>@string.Format("{0:C}", payment.Amount)</td>
                    <td class="left">@Model.Claim.Insurance_Contact</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td class="right"></td>
                <td class="left"></td>
                <td>════════</td>
                <td class="left"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="right"></td>
                <td class="left"></td>
                <td>@string.Format("{0:C}", Model.Payments.Sum(x => x.Amount))</td>
                <td class="left"></td>
            </tr>
        </table>
    </div>
</body>
</html>
