@using FeesPackage.Models;
@using Newtonsoft.Json;
@model NeedlesModel

@using (Html.BeginForm("Save", "CheckList", FormMethod.Post, Model.Case))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="tabs">
            <ul>
                <li><a href="#case">Case</a></li>
                <li><a href="#insurance">Insurance</a></li>
                <li><a href="#notes">Notes</a></li>
            </ul>
            <div id="case">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table>
                    <tr style="background-color: red; color: yellow;">
                        <td colspan="2">@Html.Raw(Model.Party.last_long_name + ", " + Model.Party.prefix + " " + Model.Party.first_name)</td>
                        <td style="text-align: right">Case Type:</td>
                        <td>@Html.DisplayFor(model => Model.Case.matcode, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">AOD:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_of_incident, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">LIM Date:</td>
                        <td>@Html.DisplayFor(model => Model.Case.lim_date, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr style="background-color: red; color: yellow;">
                        <td colspan="2">Case #@Html.DisplayFor(model => Model.Case.casenum, new { htmlAttributes = new { @class = "form-control" } }) ( @Html.DisplayFor(model => Model.Case.alt_case_num, new { htmlAttributes = new { @class = "form-control" } }) )</td>
                        <td style="text-align: right">Class:</td>
                        <td>@Html.DisplayFor(model => Model.Case._class, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Assigned:</td>
                        <td>@Html.DisplayFor(model => Model.Case.staff_1, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Opened:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_opened, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Case Number:</td>
                        <td>@Html.EditorFor(model => Model.Case.alt_case_num, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">AOD:</td>
                        <td>@Html.EditorFor(model => Model.Case.date_of_incident, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Class:</td>
                        <td> @Html.EditorFor(model => Model.Case._class, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td colspan="2" style="text-align: center">Intake Info:</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">*Language*</td>
                        <td>@Html.EditorFor(model => Model.Case.alt_case_num_2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Opened:</td>
                        <td>@Html.EditorFor(model => Model.Case.date_opened, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Closed:</td>
                        <td>@Html.EditorFor(model => Model.Case.close_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Date:</td>
                        <td>@Html.EditorFor(model => Model.Case.intake_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Referred By:</td>
                        <td>@Html.EditorFor(model => Model.Case.referred_link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">Dormant:</td>
                        <td>@Html.EditorFor(model => Model.Case.dormant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Time:</td>
                        <td>@Html.EditorFor(model => Model.Case.intake_time, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Referred To:</td>
                        <td>@Html.EditorFor(model => Model.Case.referred_to_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right">Reassigned:</td>
                        <td>@Html.EditorFor(model => Model.Case.ressign_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">Staff:</td>
                        <td>@Html.EditorFor(model => Model.Case.intake_staff, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                    </tr>
                </table>
                <table id="ten_col">
                    <tr>
                        <td colspan="10">Assigned To:</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">1:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">2:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">3:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">4:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_4, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">5:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">6:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_6, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">7:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_7, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">8:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_8, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">9:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_9, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                        <td style="text-align: right">10:</td>
                        <td>@Html.EditorFor(model => Model.Case.staff_10, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 132px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Synopsis:</td>
                        <td>@Html.TextAreaFor(model => Model.Case.synopsis, htmlAttributes: new { @class = "form-control", @readonly = "readonly", style = "width: 732px", rows = "2" })</td>
                    </tr>
                </table>
                <table id="case_dates">
                    <tr>
                        <td colspan="10">Case Dates:</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; min-width: 140px;">Petition Filed:</td>
                        <td style="min-width: 140px;">@Html.EditorFor(model => Model.Case.case_date_1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right; min-width: 140px;">Hearing:</td>
                        <td style="min-width: 140px;">@Html.EditorFor(model => Model.Case.case_date_2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td style="text-align: right; min-width: 140px;">No Meds After:</td>
                        <td style="min-width: 140px;">@Html.EditorFor(model => Model.Case.case_date_3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; min-width: 140px;">No Comp After:</td>
                        <td style="min-width: 140px;">@Html.EditorFor(model => Model.Case.case_date_4, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right; min-width: 140px;">Mediation Date:</td>
                        <td style="min-width: 140px;">@Html.EditorFor(model => Model.Case.case_date_7, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Case Title:</td>
                        <td>@Html.EditorFor(model => Model.Case.case_title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 732px" } })</td>
                    </tr>
                </table>
                <table id="six_col">
                    <tr>
                        <td style="text-align: right">Docket:</td>
                        <td>@Html.EditorFor(model => Model.Case.docket, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 215px" } })</td>
                        <td style="text-align: right">Court:</td>
                        <td>@Html.EditorFor(model => Model.Case.court_link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 215px" } })</td>
                        <td style="text-align: right">Judge:</td>
                        <td>@Html.EditorFor(model => Model.Case.judge_link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 215px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Location:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Location, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 215px" } })</td>
                        <td style="text-align: right">State:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.State, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 100px" } })</td>
                        <td style="text-align: right">Credit Atty:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.CREDIT_ATTY, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 180px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Senate #</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Senate_Num, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 150px" } })</td>
                        <td style="text-align: right">House #</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.House_Num, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 150px" } })</td>
                        <td style="text-align: right">Referring Attorney:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Referring_Attorney, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 190px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Appeal #</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Appeal_Num, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 407px" } })</td>
                        <td style="text-align: right">Referring - No Fee:</td>
                        <td style="border: 1px solid #cccccc; border-radius: 3px; background-color: #eeeeee; min-width: 206px;">@Html.DisplayFor(model => Model.Case_Data.Referring__No_Fee, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Tax ID#</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Tax_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 407px" } })</td>
                        <td style="text-align: right">Third Party:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Third_Party, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 206px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Doctor/Pt Referred To:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.DOCTORPT_REFERRED_TO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 700px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Injuries Alleged:</td>
                        <td>@Html.TextAreaFor(model => Model.Case_Data.Injuries_Alleged, htmlAttributes: new { @class = "form-control", @readonly = "readonly", style = "width: 732px", rows = "2" })</td>
                    </tr>
                    <tr>
                        <td>Injuries per NCP/Decision:</td>
                        <td>@Html.TextAreaFor(model => Model.Case_Data.Injuries_per_NCPDecision, htmlAttributes: new { @class = "form-control", @readonly = "readonly", style = "width: 732px", rows = "2" })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Prior Status:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.PRIOR_STATUS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Judge:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.JUDGE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">Petitions Pendings:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Petitions_Pendings, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 732px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Petitions Resolved:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Petitions_Resolved, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 732px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: right">C&amp;r$$s:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.CR_DollarsS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Client $$$ Owed to us:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Client_Dollars_Owed_to_us, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Atty Fee:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.ATTY_FEE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">LIT Costs:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.LIT_COSTS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">AWW:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.AWW, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Client $$ Start Date:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Client_Dollars_Start_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Ttd Rate:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.TTD_RATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Carrier $$ Start Date:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Carrier_Dollars_Start_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">TPD Rate:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.TPD_Rate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Supersed EffectiveDate:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.SupersedEffectiveDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">WC Rate at Settlement:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.WC_Rate_at_Settlement, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                        <td style="text-align: right">Fee Pkg. No.:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.Fee_Pkg_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">Start Date:</td>
                        <td>@Html.EditorFor(model => Model.Case_Data.START_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Decisions (win,loss,draw):</td>
                        <td>@Html.TextAreaFor(model => Model.Case_Data.DECISION_winlossdraw, htmlAttributes: new { @class = "form-control", @readonly = "readonly", style = "width: 732px", rows = "2" })</td>
                    </tr>
                </table>
            </div>
            <div id="insurance">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table>
                    <tr style="background-color: black; color: yellow;">
                        <td colspan="2">@Html.Raw(Model.Party.last_long_name + ", " + Model.Party.prefix + " " + Model.Party.first_name)</td>
                        <td style="text-align: right">Case Type:</td>
                        <td>@Html.DisplayFor(model => Model.Case.matcode, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">DOI:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_of_incident, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">LIM Date:</td>
                        <td>@Html.DisplayFor(model => Model.Case.lim_date, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr style="background-color: black; color: yellow;">
                        <td colspan="2">Case #@Html.DisplayFor(model => Model.Case.casenum, new { htmlAttributes = new { @class = "form-control" } }) ( @Html.DisplayFor(model => Model.Case.alt_case_num, new { htmlAttributes = new { @class = "form-control" } }) )</td>
                        <td style="text-align: right">Class:</td>
                        <td>@Html.DisplayFor(model => Model.Case._class, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Assigned:</td>
                        <td>@Html.DisplayFor(model => Model.Case.staff_1, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Opened:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_opened, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                </table>
                @for (int index = 0; index < Model.Insurances.InsuranceList.Count; index++)
                {
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: right">Party:</td>
                            <td>@Html.Raw(Model.Partys.PartyList[index].last_long_name + ", " + Model.Partys.PartyList[index].prefix + " " + Model.Partys.PartyList[index].first_name)</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: red;">Insurer:</td>
                            <td>@Html.EditorFor(model => Model.Insurers.InsurerList[index].last_long_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                            <td style="text-align: right">Insurance Type:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].policy_type, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.Raw(Model.Insurers.InsurerList[index].address)</td>
                            <td style="text-align: right">Agent:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].agent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.Raw(Model.Insurers.InsurerList[index].address_2)</td>
                            <td style="text-align: right">Policy #</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].policy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.Raw(Model.Insurers.InsurerList[index].city + ", " + Model.Insurers.InsurerList[index].state + "  " + Model.Insurers.InsurerList[index].zipcode)</td>
                            <td style="text-align: right">Claim #</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].claim, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Phone:</td>
                            <td>@Html.Raw(Model.Insurers.InsurerList[index].work_phone + "    Ext: " + Model.Insurers.InsurerList[index].work_extension)</td>
                            <td style="text-align: right">Insured:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].insured, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Fax:</td>
                            <td>@Html.Raw(Model.Insurers.InsurerList[index].fax_number)</td>
                            <td style="text-align: right">Limits:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].limits, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Note:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].comments, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                            <td style="text-align: right">Accept Liability?</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].accept, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: red;">Adjuster:</td>
                            <td>@Html.Raw(Model.Adjusters.AdjusterList[index].last_long_name + ", " + Model.Adjusters.AdjusterList[index].prefix + " " + Model.Adjusters.AdjusterList[index].first_name)</td>
                            <td style="text-align: right">Work:</td>
                            <td>
                                @Html.EditorFor(model => Model.Adjusters.AdjusterList[index].work_phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 90px" } }) Ext:
                                @Html.EditorFor(model => Model.Adjusters.AdjusterList[index].work_extension, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 34px" } }) Fax:
                                @Html.EditorFor(model => Model.Adjusters.AdjusterList[index].fax_number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 90px" } })
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Minimum:</td>
                            <td>
                                @Html.EditorFor(model => Model.Insurances.InsuranceList[index].minimum_amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 113px" } }) Maximum:
                                @Html.EditorFor(model => Model.Insurances.InsuranceList[index].maximum_amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 112px" } })
                            </td>
                            <td style="text-align: right">Actual:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].actual, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Date Resolved:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].date_settled, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 307px" } })</td>
                            <td style="text-align: right">How Resolved:</td>
                            <td>@Html.EditorFor(model => Model.Insurances.InsuranceList[index].how_settled, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width: 306px" } })</td>
                        </tr>
                    </table>
                    <hr />
                }
            </div>
            <div id="notes" style="min-height: 1250px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table>
                    <tr style="background-color: black; color: yellow;">
                        <td colspan="2">@Html.Raw(Model.Party.last_long_name + ", " + Model.Party.prefix + " " + Model.Party.first_name)</td>
                        <td style="text-align: right">Case Type:</td>
                        <td>@Html.DisplayFor(model => Model.Case.matcode, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">DOI:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_of_incident, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">LIM Date:</td>
                        <td>@Html.DisplayFor(model => Model.Case.lim_date, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr style="background-color: black; color: yellow;">
                        <td colspan="2">Case #@Html.DisplayFor(model => Model.Case.casenum, new { htmlAttributes = new { @class = "form-control" } }) ( @Html.DisplayFor(model => Model.Case.alt_case_num, new { htmlAttributes = new { @class = "form-control" } }) )</td>
                        <td style="text-align: right">Class:</td>
                        <td>@Html.DisplayFor(model => Model.Case._class, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Assigned:</td>
                        <td>@Html.DisplayFor(model => Model.Case.staff_1, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="text-align: right">Opened:</td>
                        <td>@Html.DisplayFor(model => Model.Case.date_opened, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                </table>
                <div id='jqxWidget2' style="font-size: 13px; font-family: Verdana; float: left; width: 100%; height: 100%;">
                    <div id="jqxgrid2"></div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    td {
        min-width: 100px;
    }

    input {
        width: 95px;
    }

    table#ten_col td:nth-child(odd) {
        min-width: 20px;
    }

    table#six_col td:nth-child(odd) {
        min-width: 50px;
    }

    table {
        width: 100%;
    }
</style>

<script>
    $(function () {
        $("#tabs").tabs();
    });

    // prepare the data
    var data = @Html.Raw(JsonConvert.SerializeObject(Model.CaseNotes));
    var inUpdate = false;

    var source =
    {
        dataType: "json",
        // NO UPDATEROW, Needles is read-only for now
        dataFields: [
            { name: 'note_key', type: 'int' },
            { name: 'note_date', type: 'date' },
            { name: 'note_time', type: 'time' },
            { name: 'staff_id', type: 'string' },
            { name: 'topic', type: 'string' },
            { name: 'note', type: 'string' }
        ],
        id: 'notes',
        localdata: data
    };

    var dataAdapter = new $.jqx.dataAdapter(source, {
        downloadComplete: function (data, status, xhr) { },
        loadComplete: function (data) { },
        beforeLoadComplete: function (records) { },
        loadError: function (xhr, status, error) { alert('loadError: status=' + status + ' error=' + error); },
    });

    var cellsrenderer_center = function (row, column, value) {
        return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
    }

    var columnrenderer_center = function (value) {
        return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
    }

    $('#jqxgrid2').on('bindingcomplete', function (event) {
    });

    var cellsrenderer = function (row, column, value, defaultHtml, columnSettings, record) {
    }

    $("#jqxgrid2").jqxGrid(
    {
        theme: 'energyblue',
        width: '850px',
        height: '1200px',
        autowidth: false,
        source: dataAdapter,
        showfilterrow: true,
        filterable: true,
        pageable: false,
        groupable: false,
        editable: false,
        sortable: true,
        ready: function () { _setup(); },
        columnsresize: true,
        columns: [
            { text: 'note_key', datafield: 'note_key', filtertype: 'checkedlist', cellsalign: 'center', align: 'center', cellclassname: "disabled", hidden: true },
            { text: 'note_date', datafield: 'note_date', filtertype: 'checkedlist', align: 'center', cellsformat: 'MM/dd/yyyy', width: 95, align: 'center' },
            { text: 'note_time', datafield: 'note_time', filtertype: 'checkedlist', width: 80, align: 'center' },
            { text: 'staff_id', datafield: 'staff_id', filtertype: 'checkedlist', width: 100, align: 'center' },
            { text: 'topic', datafield: 'topic', filtertype: 'checkedlist', width: 180, align: 'center' },
            { text: 'note', datafield: 'note', filtertype: 'checkedlist', width: 600, align: 'center' }
        ]
    });

    function _setup() {
        //$("#jqxgrid2").jqxGrid('autoresizecolumns');
    }
</script>
