@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
        }

        .date {
            float: right;
            font-style: italic;
        }

        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }

        .totals {
            font-weight: bold
        }

        .value {
            min-width: 200px;
        }

        body, table {
            font-size: larger;
            line-height: 150%;
        }

            table.center {
                margin: auto;
                text-align: center;
            }

        td {
            min-width: 80px;
            white-space: nowrap;
        }

            td.right,
            th.right {
                text-align: right;
            }

            td.left,
            th.left {
                text-align: left;
            }

        th {
            border-bottom: 4px double #000;
        }

        td.overflow {
            white-space: nowrap;
            max-width: 10px;
        }

        tr.lineitems {
            font-size: smaller;
        }

        tr.superscore td,
        td.superscore {
            border-top: 4px double #000;
        }

        td.underscore {
            text-decoration: underline;
        }

        span.huge {
            font-size: 25pt;
        }

        td.indent {
            padding-left: 50px;
        }
    </style>

    <div style="max-width: 1200px;">
        @foreach (var grp in Model.MonthlyIncome.OrderBy(x => x.Key))
        {
            foreach (var atty in grp.GroupBy(x => x.Client.Credit_Atty + "/" + x.Client.Handling_Atty).OrderBy(x => x.Key))
            {
                @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
                <div class="title"><span class="huge">Martin</span>LLC</div>
                <div class="title">Income Detail Report [@string.Format("{0:MM/dd/yyyy}", ViewBag.fromDate) - @string.Format("{0:MM/dd/yyyy}", ViewBag.toDate)]</div>
                <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
                @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
                <br />
                <table class="center" style="width:100%">
                    <tr>
                        <td>@grp.Key</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@atty.Key</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @foreach (var line_item in atty.OrderBy(x => x.Client.Client_Name))
                    {
                        <tr>
                            <td class="left overflow indent">@line_item.Client.Client_Name</td>
                            <td>@line_item.Payment.Period_From</td>
                            <td>@line_item.Payment.Period_To</td>
                            <td class="right">@string.Format("{0:C}", (double)atty.Where(x => x.Client.County == "Phila").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                            <td class="right">@string.Format("{0:C}", (double)atty.Where(x => x.Client.County == "Cty").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                            <td class="right">@string.Format("{0:C}", (double)atty.Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Where(x => x.Client.County == "Phila").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                        <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Where(x => x.Client.County == "Cty").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                        <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                    </tr>
                </table>
                <div style="page-break-after:always"></div>
            }
        }
    <table>
        <tr>
            <td class="right totals">Grand Total:</td>
            <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Where(x => x.Client.County == "Phila").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
            <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Where(x => x.Client.County == "Cty").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
            <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
        </tr>
    </table>
    </div>
</body>
</html>
