@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
        }
        .date {
            float: right;
            font-style: italic;
        }
        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }
        .totals {
            font-weight: bold
        }
        .value {
            min-width: 200px;
        }
        body, table {
            font-size: larger;
            line-height: 200%;
        }
        table.center {
            margin: auto;
            text-align: center;
        }
        td, th {
            width: 20%;
            white-space: nowrap;
        }
        td.right,
        th.right {
            text-align: right;
        }
        td.left,
        th.left {
            text-align: left;
        }
        th {
            border-bottom: 4px double #000;
        }
        td.overflow {
            white-space: nowrap;
            max-width: 10px;
        }
        tr.lineitems {
            font-size: smaller;
        }
        tr.superscore td,
        td.superscore {
            border-top: 1px solid #000;
        }
        td.underscore {
            border-bottom: 1px solid #000;
        }
        .huge {
            font-size: 28pt;
        }
        td.indent {
            padding-left: 50px;
        }
        .net {
            border: none;
            background-color: lightgray;
        }
        .center {
            text-align: center;
        }
        .large {
            font-size: 24pt;
        }
    </style>

    <div style="        max-width: 1200px;
">
        ══════════════════════════════════════════════════════════════════════════════════════════
        <div class="title huge">Martin LLC</div>
        <div class="title center large">Posted Deposit Summary</div>
        <div class="title center">[@string.Format("{0:MM/dd/yyyy}", ViewBag.fromDate) - @string.Format("{0:MM/dd/yyyy}", ViewBag.toDate)]</div>
        <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
        ══════════════════════════════════════════════════════════════════════════════════════════
        <br />
        <table class="center" style="width:100%">
            <tr>
                <th>Deposit Breakdown</th>
                <th>TOTAL</th>
                <th>ESCROW</th>
                <th>PHILADELPHIA</th>
                <th>COUNTY</th>
                <th class="net">Total Fees (net)</th>
            </tr>
            @foreach (var grp in Model.MonthlyIncome.OrderBy(x => x.Key))
            {
                <tr>
                    <td class="left overflow totals">@grp.Key</td>
                    <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Sum(x => (double?)x.Payment.Amount))</td>
                    <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Sum(x => ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                    <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Where(x => x.Client.County == "Phila").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                    <td class="right underscore totals">@string.Format("{0:C}", (double)grp.Where(x => x.Client.County == "Cty").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                    <td class="right totals net">@string.Format("{0:C}", (double)grp.Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                </tr>
            }
            <tr>
                <td class="right totals">Grand Total:</td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => (double?)x.Payment.Amount))</td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Where(x => x.Client.County == "Phila").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Where(x => x.Client.County == "Cty").Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
                <td class="right totals net">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => (double?)x.Payment.Amount - ((double?)x.Payment.Amount * x.Client.Escrow)))</td>
            </tr>
        </table>
    </div>
</body>
</html>
