@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
        }
        .date {
            float: right;
            font-style: italic;
        }
        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }
        .totals {
            font-weight: bold
        }
        .value {
            min-width: 200px;
        }
        body, table {
            font-size: larger;
            line-height: 150%;
        }
        table.center {
            margin: auto;
            text-align: center;
        }
        td {
            width: 16.67%;
            white-space: nowrap;
        }
        td.right,
        th.right {
            text-align: right;
        }
        td.left,
        th.left {
            text-align: left;
        }
        th {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
        td.overflow {
            white-space: nowrap;
            overflow: hidden;
        }
        tr.lineitems {
            font-size: smaller;
        }
        tr.superscore td,
        td.superscore {
            border-top: 1px solid #000;
        }
        td.underscore {
            text-decoration: underline;
        }
        span.huge {
            font-size: 25pt;
        }
        .indent {
            padding-left: 50px;
        }
        .indent2 {
            padding-left: 25px;
        }
    </style>

    <div style="max-width: 1200px;">
        @foreach (var atty in Model.MonthlyIncome.OrderBy(x => x.Key))
        {
            foreach (var clt in atty.GroupBy(x => x.Client.Client_Name).OrderBy(x => x.Key))
            {
                @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
                <div class="title"><span class="huge">Martin</span>LLC</div>
                <div class="title">Report: Referral Fees</div>
                <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
                @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
                <br />
                <div class="left totals">@atty.Key</div>
                <div class="left indent2">@clt.Key</div>
                <table class="center" style="width:100%">
                    <tr>
                        <th>Posted Date</th>
                        <th>Period From</th>
                        <th>Period To</th>
                        <th>Amount</th>
                        <th>Referral %</th>
                        <th>Ref Amt</th>
                    </tr>
                    @foreach (var line_item in clt.OrderBy(x => x.Payment.Period_From).OrderBy(x => x.Payment.Period_To))
                    {
                        <tr>
                            <td class="right">@string.Format("{0:MM/dd/yyyy}", line_item.Payment.Input_Date)</td>
                            <td class="right">@string.Format("{0:MM/dd/yyyy}", line_item.Payment.Period_From)</td>
                            <td class="right">@string.Format("{0:MM/dd/yyyy}", line_item.Payment.Period_To)</td>
                            <td class="right">@string.Format("{0:C}", line_item.Payment.Amount)</td>
                            <td class="right">@string.Format("{0:P}", line_item.RefAtty.Client_Referral)</td>
                            <td class="right">@string.Format("{0:C}", (double)line_item.Payment.Amount * line_item.RefAtty.Client_Referral)</td>
                        </tr>
                    }
                </table>
                <div style="page-break-after:always"></div>
            }
        }
        <table class="center" style="width:100%">
            <tr>
                <td></td>
                <td></td>
                <td colspan="2" class="right totals">Total:</td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => (double?)x.Payment.Amount))</td>
                <td></td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.MonthlyIncome.SelectMany(n => n).Sum(x => (double)x.Payment.Amount * x.RefAtty.Client_Referral))</td>
            </tr>
        </table>
    </div>
</body>
</html>
