@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
            float: left;
        }
        .date {
            float: right;
            font-style: italic;
        }
        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }
        .totals {
            font-weight: bold
        }
        .value {
            min-width: 200px;
        }
        body, table {
            font-size: larger;
        }
        .center {
            margin: auto;
            text-align: center;
            float: none;
        }
        td {
            width: 50px;
            white-space: nowrap;
        }
        td.right,
        th.right {
            text-align: right;
        }
        td.left,
        th.left {
            text-align: left;
        }
        th {
            border-bottom: 1px solid #555;
        }
        td.overflow {
            white-space: nowrap;
            overflow: hidden;
        }
        tr.lineitems {
            font-size: smaller;
        }
        tr.superscore td,
        td.superscore,
        table.superscore {
            border-top: 1px solid #000;
        }
        .huge {
            font-size: 50pt;
        }
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3) {
            min-width: 250px;
        }
        td:nth-child(4),
        td:nth-child(5) {
            min-width: 120px;
        }
    </style>

    <div style="max-width: 1200px;">
        @foreach (var grp in Model.ReferralEscrow.OrderBy(x => x.Key))
        {
            <div class="title center huge">Martin LLC</div>
            @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
            <div class="title">
                Referral Statement[@string.Format("{0:MM/dd/yyyy}", ViewBag.fromDate) - @string.Format("{0:MM/dd/yyyy}", ViewBag.toDate)]
            </div>
            <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
            <br />
            <table class="center" style="width:100%;margin-top:50px;">
                <tr class="superscore">
                    <td class="left overflow totals">@grp.First().Escrow_Account</td>
                    <td></td>
                    <td class="right totals superscore">@string.Format("{0:C}", (double)grp.Sum(x => x.Sub_Total))</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div style="page-break-after:always"></div>
            foreach (var frm in grp.GroupBy(x => x.Referral_Firm).OrderBy(x => x.Key))
            {
                <div class="title center huge">Martin LLC</div>
                @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
                <div class="title">
                    Referral Statement [@string.Format("{0:MM/dd/yyyy}", ViewBag.fromDate) - @string.Format("{0:MM/dd/yyyy}", ViewBag.toDate)]
                </div>
                <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
                <br />
                foreach (var attny in frm.GroupBy(x => x.Client_Referral_Atty).OrderBy(x => x.Key))
                {
                    <table class="center superscore" style="width:100%;margin-top:50px;">
                        @foreach (var line_item in attny.OrderBy(x => x.Client_Name).GroupBy(x => new { x.Client_Name, x.Period_From, x.Period_To, x.Amount, x.Client_Referral, x.Sub_Total }))
                        {
                            <tr class="lineitems">
                                <td class="left overflow">@frm.First().Referral_Firm</td>
                                <td class="left overflow">@attny.First().Client_Referral_Atty</td>
                                <td class="left">@line_item.Key.Client_Name</td>
                                <td class="right">@string.Format("{0:MM/dd/yy}", line_item.Key.Period_To)</td>
                                <td class="right">@string.Format("{0:C}", line_item.Key.Sub_Total)</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="right totals superscore">@string.Format("{0:C}", frm.Sum(x => x.Sub_Total))</td>
                        </tr>
                    </table>
                    <div style="page-break-after:always"></div>
                }
            }
        }
        <div class="title center huge">Martin LLC</div>
        @Html.Raw("══════════════════════════════════════════════════════════════════════════════════════════")
        <div class="title">
            Referral Statement [@string.Format("{0:MM/dd/yyyy}", ViewBag.fromDate) - @string.Format("{0:MM/dd/yyyy}", ViewBag.toDate)]
        </div>
        <div class="date">@DateTime.Today.ToString("dd-MMM-yy")</div>
        <br />
        <table class="center superscore" style="width:100%;margin-top:50px;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="right totals superscore">@string.Format("{0:C}", (double)Model.ReferralEscrow.SelectMany(n => n).GroupBy(n => n.Referral_Firm).Select(x => new { Name = x.Key, Sum = x.Sum(y => y.Sub_Total) }).Sum(z => z.Sum))</td>
            </tr>
        </table>
    </div>
</body>
</html>
